/* line 1, ../sass/zee/_states.scss */
.hidden {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  /* line 1, ../sass/zee/_responsive.scss */
  body {
    padding: 0 20px;
  }
}

/* line 7, ../sass/zee/_responsive.scss */
img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 480px) {
  /* line 17, ../sass/zee/_grid.scss */
  .l-container .l-sidebar--first, .l-container .l-content, .l-container .l-row, .l-container .l-sidebar--second {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }

  /* line 22, ../sass/zee/_grid.scss */
  .l-container {
    *zoom: 1;
    margin-left: -1%;
    margin-right: -1%;
  }
  /* line 30, ../sass/zee/_mixins.scss */
  .l-container:before, .l-container:after {
    display: table;
    content: "";
    line-height: 0;
  }
  /* line 35, ../sass/zee/_mixins.scss */
  .l-container:after {
    clear: both;
  }
  /* line 33, ../sass/zee/_grid.scss */
  .l-container .l-sidebar--first {
    width: 31.33333%;
  }
  /* line 40, ../sass/zee/_grid.scss */
  .l-container .l-content {
    margin-left: 34.33333%;
  }
  /* line 33, ../sass/zee/_grid.scss */
  .l-container .l-content {
    width: 64.66667%;
  }
  /* line 33, ../sass/zee/_grid.scss */
  .l-container .l-row, .l-container .l-sidebar--second {
    width: 98%;
  }
  /* line 37, ../sass/zee/_grid.scss */
  .l-container .l-sidebar--first {
    margin-left: -99%;
  }
}
@media screen and (min-width: 980px) {
  /* line 17, ../sass/zee/_grid.scss */
  .l-container .l-sidebar, .l-container .l-content, .l-container .l-row {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }

  /* line 22, ../sass/zee/_grid.scss */
  .l-container {
    *zoom: 1;
    margin-left: -1%;
    margin-right: -1%;
  }
  /* line 30, ../sass/zee/_mixins.scss */
  .l-container:before, .l-container:after {
    display: table;
    content: "";
    line-height: 0;
  }
  /* line 35, ../sass/zee/_mixins.scss */
  .l-container:after {
    clear: both;
  }
  /* line 33, ../sass/zee/_grid.scss */
  .l-container .l-sidebar {
    width: 23%;
  }
  /* line 33, ../sass/zee/_grid.scss */
  .l-container .l-content {
    width: 48%;
  }
  /* line 40, ../sass/zee/_grid.scss */
  .l-container .l-content {
    margin-left: 51%;
  }
  /* line 37, ../sass/zee/_grid.scss */
  .l-container .l-sidebar--second {
    margin-left: -74%;
  }
  /* line 33, ../sass/zee/_grid.scss */
  .l-container .l-row {
    width: 98%;
  }
  /* line 37, ../sass/zee/_grid.scss */
  .l-container .l-sidebar--first {
    margin-left: -99%;
  }
}
/* line 5, ../sass/drupal/_clean.scss */
#environment-indicator,
#toolbar,
.messages,
.tabs {
  display: none;
}

/* line 8, ../sass/drupal/_clean.scss */
body {
  margin-right: 0 !important;
  padding-top: 0 !important;
}

/* line 2, ../sass/custom/_all.scss */
.view-slideshow {
  display: none;
}

/* line 6, ../sass/custom/_all.scss */
body {
  background: #EEE;
}

/* line 11, ../sass/custom/_all.scss */
.page-header,
.page-nav,
.layout-container {
  background: white;
}

/* line 14, ../sass/custom/_all.scss */
.page-footer {
  background: #444;
  color: white;
}
/* line 6, ../sass/zee/_mixins.scss */
.page-footer a,
.page-footer a:active,
.page-footer a:visited,
.page-footer a:focus,
.page-footer a:hover {
  color: white;
}
