
$container-min-width: 320px !default;
$container-max-width: 1200px !default;
$container-tablet-min-width: 768px !default;
$container-desktop-min-width: 960px !default;
$container-large-desktop-min-width: 1200px !default;